# Enter the details received from gnani apiservice
[TTS_USER]
TOKEN=Add your token key here
ACCESSKEY=Add your access key here
LANGUAGE=Add your language here
PRODUCT=tts
TTS_API_URL=https://asr.gnani.ai/synthesize

[TTS_REQUEST_BODY]
TEXT=Add your text  here
LANGCODE=Add your langcode  here
NAME=Add your name  here
SSMLGENDER=Add your gender  here
AUDIOENCODING=Add your audioformat  here
SAMPLERATE=Add your sampleRate  here